.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilo global para el cuerpo de la página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh; /* Asegura que el body ocupe toda la pantalla */
  background-image: url('/images/biblioteca.jpg'); /* Ruta de la imagen que deseas usar */
  background-size: cover; /* Hace que la imagen cubra toda el área */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que la imagen se quede fija al hacer scroll */
}

/* Contenedor principal */
.main-container {
  background-image: url('/images/biblioteca.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Hace que la imagen cubra toda el área */
  background-position: center; /* Centra la imagen en el contenedor */
  background-attachment: fixed; /* Fija la imagen mientras se hace scroll */
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  border-radius: 8px;
  color: white; /* El color del texto será blanco para que resalte sobre el fondo */
}

h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.search-bar-container {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4CAF50; /* Cambiar el color del borde al enfocar */
  outline: none;
}

.landing-container {
  position: relative;
  background-image: url('/images/landing-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Capa oscura con opacidad */
  z-index: 1;
}

.landing-container h1 {
  z-index: 2; /* Asegura que el texto esté sobre la capa oscura */
  font-size: 3rem;
}

